body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.home {
    margin: 0 auto;
}